/* Estilo básico para ocultar elementos */
.hidden {
    display: none;
}

/* Estilos generales de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d3436;
    color: #fff;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #2d3436;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #00b894;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #16a085;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #00b894;
    font-size: 18px;
}

ul li a:hover {
    color: #16a085;
}

/* Sección de herramientas de Profesor */
#profesor-tools {
    background-color: #dfe6e9;
    padding: 20px;
}

#estudiante-tools {
    background-color: #b2bec3;
    padding: 20px;
}
